.Icon-container {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
}

.Icon-container--check {
    position: absolute;
    left: 12px;
}

.Icon-container--delete {
    position: absolute;
    left: -24px;
    right: 0;
}

.Icon-edit {
    position: absolute;
    top: 12px;
    right: 48px;
    color: #A7FFE4;
}